%h1{:style => "margin-top:100px;"}
  Пилотная страница будущего великого ресурса по "Битве замков"
  %small
    В мире Castle Clash наступает очередная эра - Эра Питомцев!
    
    Собирай и выращивай самых разнообразных Питомцев, увеличивай силу своих Героев и стань самым главным Замковладельцем!
    Castle Clash - стратегия с небывалым размахом: более 10 PvE и PvP режимов для игры одному или с друзьями, битвы между Гильдиями и события общесерверного масштаба.
    Более 100 миллионов игроков по всему миру, присоединяйся и ты!
    
    Битва Замков - это:
    * Строительство уникальных Замков и возведение укреплений.
    * Сбор непобедимой армии из десятков разных Героев и Существ.
    * Прокачка своих Героев, улучшение Талантов. Проверь их силу на Арене!
    * Игра с друзьями, где вы можете создать самую мощную Гильдию.
    * Уникальные акции и сезонные События - у нас постоянно что-то происходит!
    
    И наконец:
    
    * Ты можешь стать лучшим другом для своих Питомцев в новом осеннем дополнении!
    Собери их всех!
    
    Внимание: Эта игра требует постоянного подключения к сети Интернет.
